<ion-view view-title="Formula One Championship" hide-back-button="true">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear" ng-click="show()">Options</button>
    </ion-nav-buttons>
  <ion-content>
		<p>Data from <a href = "http://ergast.com/mrd/" target="_blank">Ergast MRD</a></p>
  </ion-content>
</ion-view>
