<ion-view view-title="{{champion.season}}" hide-back-button="true">
  <ion-nav-buttons side="left">
      <button class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" ng-click="returnToMainLayout()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="driver in drivers" href="#/app/driver/{{driver.Driver.driverId}}/{{currentyear}}">
        <img class="profile" width="40px" height="40px" ng-src="{{profile_photos[$index] 
        || 'img/ionic.png'}}" />
        <div class="general_info">
          <h2>{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</h2>
          <p>{{driver.Constructors[0].name}}</p>
          <p>{{driver.points}}</p>
          <!--<p>{{driver}}</p>-->
        </div>
        <div class="position">
          <b class="pos_text">#{{driver.position}}</b>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
