<ion-view view-title="Formula One Championship All Circuits" hide-back-button="true">
  <ion-nav-buttons side="left">
      <button class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" ng-click="returnToMainLayout()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-positive button-clear" ng-click="viewInMap()">All Circuits in Map</button>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="circuit in circuits" href="#/app/circuit/{{circuit.circuitId}}">
        <img class="profile" width="40px" height="40px" ng-src="img/flags/{{circuit.Location.country}}.png" />
        <div class="general_info">
          <h2>{{circuit.circuitName}}</h2>
          <p>Longitude: {{circuit.Location.long}}</p>
          <p>Latitude: {{circuit.Location.lat}}</p>
          <p>{{circuit.Location.locality}} ({{circuit.Location.country}})</p>
        </div>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>