<ion-view view-title="Search" hide-back-button="true">
<ion-nav-buttons side="left">
        <button class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" ng-click="returnAllCircuits()"></button>
    </ion-nav-buttons>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>


