<ion-view view-title="F1 All Circuits" >
<ion-nav-buttons side="left">
        <button class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" ></button>
    </ion-nav-buttons>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
