/* Map properties */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/* Ranking properties*/
.profile {
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 15px 5px 5px;
}

.general_info
{
	float: left;
}

.position
{
	float: right;
}

.position b {
	font-size: 22px;
}

img 
{
    max-width: 400px;
    max-height: 320px;
}